<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string>http://172.29.0.138:8081/download/2018/10/29/1025_1eed0b75-5ac6-4e6e-8da1-eac8f91326d0.ipa</string>
          </dict>
          <dict>
            <key>kind</key>
            <string>display-image</string>
            <key>needs-shine</key>
            <key>url</key>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>com.module.product</string>
          <key>bundle-version</key>
          <string>1.1.1.1</string>
          <key>kind</key>
          <string>software</string>
          <key>title</key>
          <string>1</string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
